body {
  /* margin-left: 400px; */
  background-image: url("https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=996&t=st=1689064979~exp=1689065579~hmac=2a76f001d3410b462fac6318bb7d74af3bc358a9679c2ef7040999b09b5ee82b");
  background-size: cover;
  

}

body {

  margin: 20px 550px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  border-radius: 2px;
  border-color: black;
}