label{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}

input{
    height:25px;
    width:13vw;
}
h2{
    font-size: 20;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 30px;
}